:root {
  --var-dark-blue: rgb(2, 12, 68);
  --var-light-shaded-blue: rgb(32, 37, 75);
  --var-orange-clr: rgb(205, 164, 92);
  --var-green: rgb(58, 186, 113);
  --clr-bg-light-blue: #c9d8fa;
  --clr-heading-latest-highlights-blue: #03234a;
  --clr-inner-text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* header style starts here!!! */

.headerContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #174973;
  border-bottom: 5px solid #9fb3c9;
}

.section-container{
  width: 100%;
  display: flex;
}
.section-one {
  width: 50%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
  gap: 12px;
  cursor: pointer;
  /* position: relative;
  right: 20rem; */

}

.section-two {
  width: 50%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 15px;
  cursor: pointer;
  /* position: absolute;
  left: 30rem; */
}

.name span {
  color: greenyellow;
}

.name a{
  color: white
}

.name a:visited{
  color: white
}

.name a:hover{
  color: #0d6efd;
}

.image-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 12, 68);
}

.imageone {
  width: 80rem;
}

.section-three {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: #174973;
  font-size: 18px;
  gap: 2rem;
}

.sub-3 {
  width: 60rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  gap: 2rem;
  font-size: 1.2rem;

}

.home{
  color: #ffffff;
}

.home:visited{
  color: #ffffff;
}


.home:hover{
  color: var(--var-orange-clr);
}

.sub-4 {
  width: 15rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  gap: 15px;
  cursor: pointer;
}

.imagetwo {
  width: 7rem;
  height: 4rem;
}

.imagethree {
  width: 7rem;
  height: 4rem;
}

.down-arrow {
  color: aliceblue;
}

.name-two:hover{
  color: var(--var-orange-clr);
}

#About-list,#Activities-list,#services-list,#programmes-list,#Engage-list,#Resources-list{
  position: absolute;
  z-index: 1;
  background-color: white;
  color: black;
  min-width: 10rem;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  display:none;
  font-size: 1rem;
}


.list ul{
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 0.5rem;
}

.list ul li{
  list-style:none;
}
.list ul li:hover{
  color: var(--var-orange-clr);
}

.about-list-items:hover #About-list{
  display:block;
} 

.activities-list:hover #Activities-list{
  display:block;
}

.ser-cont:hover #services-list{
  display:block;
}

.prog-cont:hover #programmes-list{
  display:block;
}

.res-cont:hover #Resources-list{
  display:block;
}

.eng-cont:hover #Engage-list{
  display:block;
}

#Activities-list:hover{
  display: block;
}

/* flash-news */
.flash-news {
  background-color: rgb(2, 12, 68);
  width: 100%;
  height: 4rem;
}

.news {
  color: #ebb038;
}

.news-para {
  color: #fbff00;
  padding-left: 18rem;
  padding-top: 0.5rem;
}

.news-btn {
  background-color: #280ecd;
  height: 0.5rem;
  width: 2rem;
}

.flash-btn-conatiner {
  padding-top: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.rocket {
  position: relative;
  bottom: 3.8rem;
}

.video-container {
  width: 100vw;
  position: relative;
  background-color: rgb(2, 12, 68);
  margin-top: 3.7rem;
}

.rocket {
  width: 100%;
}

.overlap-btn {
  width: 100%;
  min-height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  position: absolute;
  bottom: 4rem;
}

.overlap-container1, .overlap-container2, .overlap-container3,
.overlap-container4 {
  width: 17rem;
  background-color: #157dc2db;
  padding: 0.8rem;
  border: 1px solid rgb(25, 115, 176);
  border-radius: 5px;
  opacity: 0.9;
}

.overlap-title {
  font-size: 1.2rem;
  color: white;
}

.hidden-press-release{
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* position: relative;
  z-index: 1; */
}

.hpr,.career,.students,.tenders{
  display: none;
}

.hidden-cnt{
  margin-top: 0.2rem;
  font-size: 1.1rem;
  color: #ffffff;
}

.pr-cnt1:hover{
  background-color: #48aef1db;
}

.overlap-container2:hover{
  background-color:  #48aef1db;
}

.overlap-container3:hover{
  background-color:  #48aef1db;
}

.overlap-container4:hover{
  background-color:  #48aef1db;
}

.pr-cnt1:hover .hpr{
  display: flex;
}

.carrer-cnt2:hover .career{
  display: flex;
}

.overlap-container3:hover .students{
  display: flex;
}

.overlap-container4:hover .tenders{
  display: flex;
}

.info{
  color: #ffffff;
  font-weight: 900;
}

.info:hover{
  color: var(--var-dark-blue);
}

/* latest news and highlights starts here !!! */

.container-zero {
  background-color: rgb(201, 216, 250);
  width: 100vw;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container-latest-highlights {
  background-color: var(--clr-bg-light-blue);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
}

/* container for the latest news  */

.container-latest-highlights {
  background-color: var(--clr-bg-light-blue);
  padding-bottom: 2rem;

  display: flex;
  flex-direction: row;
}

.container-one {
  margin-left: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heading-latest {
  color: var(--clr-heading-latest-highlights-blue);
  font-weight: bolder;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.latest-news {}

.input-box {
  width: 43rem;
  height: 16.5rem;
  font-size: 1.3rem;
  overflow: scroll;
  background: linear-gradient(45deg, #1558ba 20%, #5e93e0 60%, #020c44);
  border-radius: 6px;
  cursor: pointer;
}

.inner-text {
  color: var(--clr-inner-text);
  font-weight: 600;
  padding: 1.5rem 1rem;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* container two = highlights */
.container-two {
  margin: 1rem 2rem;
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* name = highlighter */
.heading-highlights {
  color: var(--clr-heading-latest-highlights-blue);
  font-weight: bold;
  font-size: 2.2rem;
  padding-top: 1rem;
  padding-bottom: 0.9rem;
}

/*  Animation added for the slide changer for highlights */

.img-slider {
  width: 45rem;
  height: 16.5rem;
  background-image: url(../images/highlights/akam-home-banner-eng_large.jpg.webp);
  background-size: 100% 100%;
  animation: changeimage 10s normal infinite;
  cursor: pointer;
}

@keyframes changeimage {
  0% {
    background-image: url(../images/highlights/akam-home-banner-eng_large.jpg.webp);
  }

  50% {
    background-image: url(../images/highlights/yoga\ picture.png);
  }

  100% {
    background-image: url(../images/highlights/akam-home-banner-eng_large.jpg.webp);
  }
}

/* isro portal style */

.isro-container {
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  background-color: rgb(2, 23, 68);
  color: #fff;
}

.text-img {
  width: 50%;
  border-radius: 50%;
  border: 3px solid royalblue;
}

.heading-group {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-family: "verdana", sans-serif;
}

a {
  text-decoration: none;
}

.portal-sec-container {
  font-weight: 400;
  font-family: "verdana", serif;
  padding-bottom: 6px;
  margin-bottom: 0.5rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-gallery {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
}

.main-heading {
  margin-left: 2rem;
}

.gallerycolumn:hover {
  background-color: #03398a;
}

.gallerycolumn {
  position: relative;
  display: inline-block;
}

.gallerycolumn .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: rgb(189, 229, 252);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0%;
  margin: 0 auto;
  font-size: 12px;
}

.gallerycolumn:hover .tooltiptext {
  visibility: visible;
}

/* recent update style starts here!!! */

.top {
  width: 100vw;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  box-shadow: 20px 20px 60px #bebebe;
  padding-top: 1rem;
}

.master {
  width: 100vw;
  height: 30rem;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.img-one {
  width: 21rem;
  border: 1px solid black;
  cursor: pointer;
}

.heading {
  color: blue;
  padding-bottom: 5px;
  padding-left: 2rem;
  border-bottom: 2px solid blue;
}

.fullest {
  position: relative;
}

.word {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  background-color: rgba(0, 0, 0, 0.4);
}

.fullest:hover .word {
  opacity: 1;
  display: flex;
}

.word-1 {
  color: yellow;
  font-size: 16px;
}

.word-2 {
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

/* autonomous bodies starts here!!! */

/* whole Container of the Autonomous - ISRO Centres - InSpace NSIL */

.container-three {
  background: var(--clr-bg-light-blue);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Container of Autonomous - ISRO Centres - InSpace NSIL */

.container-autonomous {
  background: #0c1755;
  width: 99%;
  height: 18rem;
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  box-shadow: 5px 10px 29px 0 rgb(0 0 0 / 88%);
  border-top: 2px solid #0606df;
}

/* Autonomous bodies */

.autonomous-bodies {
  width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-autonomous {
  width: auto;
  color: #ffffff;
}

.img-autonomous {
  width: 22rem;
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.img-autonomous img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prl,
.narl,
.nesac,
.iist {
  width: 5rem;
  padding-top: 1.3rem;
  background-color: #164682;
  border: 1px solid #d2be00;
  border-radius: 4px;
}

.line-hr {}

.prl-img,
.narl-img,
.nesac-img,
.iist-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding-top: 0.5rem;
}

.prl-text,
.narl-text,
.nesac-text,
.iist-text {
  color: #ffff99;
  text-align: center;
  padding-bottom: 0.6rem;
}

/* IN-SPACe NSIL */

.in-space-nsil {
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-in-space {
  color: #ffffff;
}

.img-in-space-nsil {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 12px;
}

.img-in-space-nsil img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.in-space,
.nsil {
  width: 5rem;
  padding-top: 1.3rem;
  background-color: #164682;
  border: 1px solid #d2be00;
  border-radius: 4px;
}

.in-space-img,
.nsil-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding-top: 0.5rem;
}

.in-space-text,
.nsil-text {
  color: #ffff99;
  text-align: center;
  padding-bottom: 0.6rem;
}

/* ISRO Centres & Units */

.isro-centres {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-isro {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-isro-centres {
  width: 47rem;
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.img-isro-centres img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hsfc,
.iirs,
.vssc,
.iprc,
.leos,
.lpsc,
.mcf {
  width: 5rem;
  padding-top: 1.3rem;
  background-color: #164682;
  border: 1px solid #d2be00;
  border-radius: 4px;
}

.hsfc-img,
.iirs-img,
.vssc-img,
.iprc-img,
.leos-img,
.lpsc-img,
.mcf-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding-top: 0.5rem;
}

.hsfc-text,
.iirs-text,
.vssc-text,
.iprc-text,
.leos-text,
.lpsc-text,
.mcf-text {
  color: #ffff99;
  text-align: center;
  padding-bottom: 0.6rem;
}

.autonomous-section {
  width: 100%;
  height: 23rem;
  background-color: rgb(167, 180, 208);
  padding: 0.5rem 1rem 2rem;
}

/* useful links here!!! */

.master-container {
  width: 100vw;
  height: 12rem;
  background: linear-gradient(90deg, rgb(15 10 20) 15%, rgb(72 37 83) 50%, rgb(4 5 75) 91%);
  display: flex;
  justify-content: flex-start;
}

.start {
  color: white;
  width: 20rem;
  padding-left: 6rem;
  padding-top: 3rem;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  color: white;
  background-color: rgb(142, 108, 51);
  text-decoration: none;
  border: 2px solid rgb(142, 108, 51);
  padding: 10px 30px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  cursor: pointer;
}

.all-btn {
  color: #000;
  background-color: #fbf700;
  border-color: #fbf700;
}

.btn:hover {
  background-color: var(--var-dark-blue);
  border-color: var(--var-dark-blue);
}

.all-btn:hover {
  color: #000;
  background-color: #fbf700;
  border-color: #fbf700;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(180deg);
  background-color: red;
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}

/* footer starts here!!! */

.footer {
  font-size: 1rem;
  color: white;
  background-color: var(--var-dark-blue);
  width: 100%;
}

.container1 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.address {
  width: 32rem;
  padding-left: 7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.address-box {
  text-align: center;
  background-color: var(--var-light-shaded-blue);
  padding: 0.4rem 1rem 1.4rem;
  border-bottom: 5px solid white;
}

.bottomLine {
  border-top: none;
  border-bottom: 1px solid #28251f;
}

.listOne p,
.listTwo p,
.listThree p {
  color: var(--var-orange-clr);
}

.listOne p a,
.listTwo p a,
.listThree p a {
  text-decoration: none;
  color: white;
}

.linksContainer div p a:hover {
  color: var(--var-orange-clr);
}

.linksContainer div p {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.listOne,
.listTwo,
.listThree {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.linksContainer {
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4rem;
}

.listOne {
  width: 11rem;
}

.listTwo {
  width: 11rem;
}

.listThree {
  width: 11rem;
}

.footerImageIndiangov img,
.footerImageIndianCode img,
.footerImageSTQC img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.footerImageIndiangov {
  width: 7rem;
  align-self: center;
  cursor: pointer;
}

.footerImageIndianCode {
  width: 5rem;
}

.footerImageSTQC {
  width: 4rem;
  cursor: pointer;
}

.imageContainer {
  width: 15rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

/* container 2 starts here!!!! */
.container2 {
  width: 100%;
}

.updateStatus {
  text-align: end;
  padding-right: 9rem;
  color: #7FE771;
  font-weight: 600;
  padding-bottom: 1rem;
}

.copyrights,
.designDescription {
  text-align: center;
  padding-bottom: 0.5rem;
}

.designDescription {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}


/* fixed images */
.left-fixed-imaged img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.left-fixed-imaged {
  width: 3.5rem;
  background-color: white;
  position: fixed;
  top: 45%;
  left: 0rem
}

.left-fixed-imaged:hover {
  background-color: grey;
}

/* right fixed icons */

.fixed-image {
  width: 3.5rem;
  background-color: white;
}

.fixed-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.slider-img {
  background-color: white;
  width: 3.5rem;
  position: fixed;
  right: 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

.sliderOne {
  top: 35%;
}

.sliderTwo {
  top: 45%;
}

.sliderThree {
  top: 55%;
}

.sliderFour {
  top: 65%;
}

.slider-img p {
  font-size: 0.9rem;
  display: none;
}

.slider-img:hover {
  width: 10rem;
}

.slider-img:hover p {
  display: block;
}

.slider-img a{
  color: #000;
  font-weight: 600;
}

.right-fixed-imaged {
  position: absolute;
  right: 0;
  top: 35%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.upArrowBtn {
  width: 3rem;
  height: 3rem;
  border: 3px solid var(--var-orange-clr);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upArrowBtn {
  position: fixed;
  right: 1.5rem;
  bottom: 1rem;
}

.upArrowBtn i {
  font-size: 1.2rem;
  color: rgb(205, 164, 92);
}

.upArrowBtn:hover {
  background-color: var(--var-orange-clr);
}

.upArrowBtn:hover i {
  color: rgb(59, 59, 59);
}