:root{
  --var-dark-blue:rgb(2,12,68);
  --var-light-shaded-blue:rgb(32,37,75);
  --var-orange-clr: rgb(205,164,92);
  --var-green: rgb(58,186,113);
  --clr-bg-light-blue: #c9d8fa;
  --clr-heading-latest-highlights-blue: #03234a;
  --clr-inner-text: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* header style starts here!!! */

.headerContainer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #174973;
  border-bottom: 5px solid #9fb3c9;
}

.section-one{
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 12px;
  cursor: pointer;
  position: relative;
  right:20rem;

}
.section-two{
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 15px;
  cursor: pointer;
  position: absolute;
  left: 30rem;
}

.name span{
  color: greenyellow;
}
.image-section{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2,12,68);
}
.imageone{
  width: 80rem;
  
}
.section-three{
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: #174973;
  font-size: 18px;
  gap: 2rem;

}
.sub-3{
  width: 60rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  gap: 2rem;
  font-size: 1.2rem;

}
.sub-4{
  width: 15rem;
  height:4rem ;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  gap: 15px;
  cursor: pointer;
}
.imagetwo{
  width: 7rem;
  height:4rem;
}
.imagethree{
  width: 7rem;
  height: 4rem;
}
.down-arrow{
  color: aliceblue;
}

/* flash-news */
.flash-news{
  background-color: rgb(2,12,68);
  width: 100%;
  height: 4rem;
}
.news{
  color: #ebb038;
}
.news-para{
  color: #fbff00;
  padding-left: 18rem;
  padding-top: 0.5rem;
}
.news-btn{
  background-color: #280ecd;
  height: 0.5rem;
  width: 2rem;
}

.flash-btn-conatiner{
  padding-top: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.rocket{
  position: relative;
  bottom: 3.8rem;
}
.video-container{
  width: 100vw;
  position: relative;
  background-color: rgb(2,12,68);
  margin-top: 3.7rem;
}

.rocket{
  width: 100%;
}

.overlap-btn{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  bottom: 4rem;
}

.overlap-container{
  width: 17rem;
  background-color: rgb(25,115,176);
  padding: 0.8rem;
  border: 1px solid rgb(25,115,176);
  border-radius: 5px;
  opacity: 0.9;
}

.overlap-container h2{
  font-size: 1.2rem;
  color: white;
}

/* latest news and highlights starts here !!! */

.container-zero {
  background-color: rgb(201,216,250);
  width: 100vw;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container-latest-highlights {
  background-color: var(--clr-bg-light-blue);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
}

/* container for the latest news  */

.container-latest-highlights {
  background-color: var(--clr-bg-light-blue);
  padding-bottom: 2rem;

  display: flex;
  flex-direction: row;
}

.container-one {
  margin-left: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heading-latest {
  color: var(--clr-heading-latest-highlights-blue);
  font-weight: bolder;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.latest-news {
}

.input-box {
  width: 43rem;
  height: 16.5rem;
  font-size: 1.3rem;
  overflow: scroll;
  background: linear-gradient(45deg, #1558ba 20%, #5e93e0 60%, #020c44);
  border-radius: 6px;
  cursor: pointer;
}

.inner-text {
  color: var(--clr-inner-text);
  font-weight: 600;
  padding: 1.5rem 1rem;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* container two = highlights */
.container-two {
  margin: 1rem 2rem;
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* name = highlighter */
.heading-highlights {
  color: var(--clr-heading-latest-highlights-blue);
  font-weight: bold;
  font-size: 2.2rem;
  padding-top: 1rem;
  padding-bottom: 0.9rem;
}

/*  Animation added for the slide changer for highlights */

.img-slider {
  width: 45rem;
  height: 16.5rem;
  background-image: url(../images/highlights/akam-home-banner-eng_large.jpg.webp);
  background-size: 100% 100%;
  animation: changeimage 10s normal infinite;
  cursor: pointer;
}
@keyframes changeimage {
  0% {
    background-image: url(../images/highlights/akam-home-banner-eng_large.jpg.webp);
  }
  50% {
    background-image: url(../images/highlights/yoga\ picture.png);
  }
  100% {
    background-image: url(../images/highlights/akam-home-banner-eng_large.jpg.webp);
  }
}

/* isro portal style */

.isro-container {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(2, 23, 68);
  color: #fff;
}
.text-img {
  width: 50%;
  border-radius: 50%;
  border: 3px solid royalblue;
}
.heading-group {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-family: "verdana", sans-serif;
}
a {
  text-decoration: none;
}

.portal-sec-container {
  font-weight: 400;
  font-family: "verdana", serif;
  padding-bottom: 6px;
  margin-bottom: 0.5rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-gallery {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
}
.main-heading {
  margin-left: 1rem;
}
.gallerycolumn:hover {
  background-color: #03398a;
}
.gallerycolumn {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.gallerycolumn .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: rgb(189, 229, 252);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0%;
  margin: 0 auto;
  font-size: 12px;
}

.gallerycolumn:hover .tooltiptext {
  visibility: visible;
}